.vs/ProyectoESDII.slnx/DesignTimeBuild/.dtbcache.v2
.vs/ProyectoESDII.slnx/FileContentIndex/0c113e9d-7b4b-4b14-b429-a238cbd1db35.vsidx
.vs/ProyectoESDII.slnx/FileContentIndex/6ae8121c-a5f9-4d28-ae47-7d63f3a5893a.vsidx
.vs/ProyectoESDII.slnx/FileContentIndex/31fd3962-d00f-4d0b-91af-a63fbdffaf3e.vsidx
.vs/ProyectoESDII.slnx/FileContentIndex/78aa4dae-146f-4973-bfed-c8771355f595.vsidx
.vs/ProyectoESDII.slnx/FileContentIndex/549ee782-bfec-4e70-add4-8f3e1895e540.vsidx
.vs/ProyectoESDII.slnx/FileContentIndex/736fdda8-f115-493a-8d88-2d22bac59885.vsidx
.vs/ProyectoESDII.slnx/FileContentIndex/8959a5ab-c72b-4e22-bfbf-f1439c41f15e.vsidx
.vs/ProyectoESDII.slnx/FileContentIndex/8503309d-6436-4aa9-a92a-9f776d02f0dc.vsidx
.vs/ProyectoESDII.slnx/FileContentIndex/9217786c-d044-419d-a3ba-c89dfddac575.vsidx
.vs/ProyectoESDII.slnx/FileContentIndex/f631d661-96f1-41a8-9637-1477bb9e3bc5.vsidx
.vs/ProyectoESDII.slnx/v18/.futdcache.v2
.vs/ProyectoESDII.slnx/v18/.suo
.vs/ProyectoESDII.slnx/v18/DocumentLayout.backup.json
.vs/ProyectoESDII.slnx/v18/DocumentLayout.json
ProyectoESDII/obj/Debug/net10.0-windows/apphost.exe
ProyectoESDII/obj/Debug/net10.0-windows/ProyectoESDII.AssemblyInfo.cs
ProyectoESDII/obj/Debug/net10.0-windows/ProyectoESDII.AssemblyInfoInputs.cache
ProyectoESDII/obj/Debug/net10.0-windows/ProyectoESDII.csproj.FileListAbsolute.txt
ProyectoESDII/obj/Debug/net10.0-windows/ProyectoESDII.csproj.GenerateResource.cache
ProyectoESDII/obj/Debug/net10.0-windows/ProyectoESDII.dll
ProyectoESDII/obj/Debug/net10.0-windows/ProyectoESDII.pdb
ProyectoESDII/obj/Debug/net10.0-windows/ProyectoESDII.sourcelink.json
ProyectoESDII/obj/Debug/net10.0-windows/ref/ProyectoESDII.dll
ProyectoESDII/obj/Debug/net10.0-windows/refint/ProyectoESDII.dll
ProyectoESDII/bin/Debug/net10.0-windows/litedb_aplication.db
ProyectoESDII/bin/Debug/net10.0-windows/ProyectoESDII.dll
ProyectoESDII/bin/Debug/net10.0-windows/ProyectoESDII.exe
ProyectoESDII/bin/Debug/net10.0-windows/ProyectoESDII.pdb
ProyectoESDII/obj/Debug/net10.0-windows/apphost.exe
ProyectoESDII/obj/Debug/net10.0-windows/ProyectoESDII.AssemblyInfo.cs
ProyectoESDII/obj/Debug/net10.0-windows/ProyectoESDII.AssemblyInfoInputs.cache
ProyectoESDII/obj/Debug/net10.0-windows/ProyectoESDII.csproj.FileListAbsolute.txt
ProyectoESDII/obj/Debug/net10.0-windows/ProyectoESDII.csproj.GenerateResource.cache
ProyectoESDII/obj/Debug/net10.0-windows/ProyectoESDII.dll
ProyectoESDII/obj/Debug/net10.0-windows/ProyectoESDII.pdb
ProyectoESDII/obj/Debug/net10.0-windows/ref/ProyectoESDII.dll
ProyectoESDII/obj/Debug/net10.0-windows/refint/ProyectoESDII.dll
